<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Competencias</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
<div class="cuerpo">
  <header class="panel">
    <div class="Menu"><img src="Images/Menu.png" width="90" height="89" alt=""/></div>
    <div class="Perfil"><img src="Images/Perfil.png" width="97" height="98" alt=""/></div>
    <div class="Competencias"><img src="Images/Competencias.png" width="97" height="98" alt=""/></div>
    <div class="Logros"><img src="Images/Logros.png" width="97" height="87" alt=""/></div>
    <div class="Fondos"><img src="Images/Fondos.png" width="97" height="96" alt=""/></div>
    <div class="Logout"><img src="Images/Logout.png" width="97" height="100" alt=""/></div>
  </header>
  <main class="Contenido"> <br>
<article class="Titulo">
  <img src="Images/Competencias.png" width="120" height="121" alt=""/>
  <h1 class="Title Compt"> Competencias</h1>
</article>
<article class="Futbol"><img src="Images/Sports-Football-icon.png" width="512" height="512" alt=""/>
  <p>Fútbol</p>
</article>
    <article class="Tenis">
      <img src="Images/Tennis-PNG-Download-Image.png" width="890" height="980" alt=""/>
      <p>Tenis</p>
    </article>
    <article class="Baloncesto">
      <img src="Images/basketball-home-holm-sports-center-36.png" width="460" height="464" alt=""/>
      <p>Baloncesto</p>
  &nbsp;</article>
    <article class="e-Sports"> <img src="Images/pngwing.com.png" width="180" height="124" alt=""/>
      <p>e-Sports&nbsp;</p>
      <p class="prox">Próximamente</p>
    &nbsp;</article>
</main>
<footer class="piedepagina">Todos los derechos reservados Arsene Lupin Book Marker's © 2023</footer>
</div>
</body>
</html>
