<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Comp_Futbol</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="cuerpo">
<header class="panel">
    <div class="Menu"><img src="Images/Menu.png" width="90" height="89" alt=""/></div>
    <div class="Perfil"><img src="Images/Perfil.png" width="97" height="98" alt=""/></div>
    <div class="Competencias"><img src="Images/Competencias.png" width="97" height="98" alt=""/></div>
    <div class="Logros"><img src="Images/Logros.png" width="97" height="87" alt=""/></div>
    <div class="Fondos"><img src="Images/Fondos.png" width="97" height="96" alt=""/></div>
    <div class="Logout"><img src="Images/Logout.png" width="97" height="100" alt=""/></div>
  </header>
  <main class="Contenido"> <br>
<article class="Titulo">
  <img class="img1" src="Images/ball.png" width="100" height="121" alt=""/>
  <h1 class="Title_Fut"> Basketball</h1>
</article>
<article class="UCL"><img src="Images/nba.jpg" width="400" height="267" alt=""/>
</article>
<article class="CCL">
      <img src="Images/aba.png" width="400" height="267" alt=""/>
    </article>
    <article class="FPC">
      <img src="Images/lpb.png" width="400" height="267" alt=""/>
  &nbsp;</article>
</main>
<footer class="piedepagina">Todos los derechos reservados Arsene Lupin Book Marker's © 2023</footer>
</div>
</body>
</html>
