<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Competencias</title>
    <link href='../static/css/style3.css' rel="stylesheet" type="text/css" media="screen">
</head>

<body>
    <div class="cuerpo">
        <header class="panel">
            <!--<div class="Menu"><img src="Images/Menu.png" width="90" height="89" alt=""/></div>
    <div class="Perfil"><img src="Images/Perfil.png" width="97" height="98" alt=""/></div>
    <div class="Competencias"><img src="Images/Competencias.png" width="97" height="98" alt=""/></div>
    <div class="Logros"><img src="Images/Logros.png" width="97" height="87" alt=""/></div>
    <div class="Fondos"><img src="Images/Fondos.png" width="97" height="96" alt=""/></div>
    <div class="Logout"><img src="Images/Logout.png" width="97" height="100" alt=""/></div> -->
            <a href="home.html">
                <img class="img_bar" src='../static/css/Menu.png'>
            </a>
            <a href="perfil-1.html">
                <img class="img_bar" src='../static/css/Perfil.png'>
            </a>
            <a href="Competencias.html">
                <img class="img_bar" src='../static/css/Competencias.png'>
            </a>
            <a href="javascript:void(0);" onClick="abrirVentanaEmergente()">
                <img class="img_bar" src='../static/css/Logros.png'>
            </a>
            <img class="img_bar" src='../static/css/Fondos.png'>
            <img class="img_bar" src='../static/css/Logout.png'>


        </header>
        <main class="Contenido"> <br>
            <article class="Titulo">
                <img src='../static/css/Competencias.png' width="120" height="121" alt="" />
                <h1 class="Title Compt"> Competencias</h1>
            </article>
            <a href="Compt_Futbol.html">
                <article class="Futbol"><img src='../static/css/Sports-Football-icon.png' width="512" height="512" alt="" />
                    <p>Fútbol</p>
                </article>
            </a>
            <a href="Compt_Tenis.html">
                <article class="Tenis">
                    <img src='../static/css/Tennis-PNG-Download-Image.png' width="890" height="980" alt="" />
                    <p>Tenis</p>
                </article>
            </a>
            <a href="Comp_balo.html">
                <article class="Baloncesto">
                    <img src='../static/css/basketball-home-holm-sports-center-36.png' width="460" height="464" alt="" />
                    <p>Baloncesto</p>
                    &nbsp;</article>
            </a>
            <a href="javascript:void(0)" onclick="abrirVentanaEmergente()">
                <article class="e-Sports"> <img src='../static/css/pngwing.com.png' width="180" height="124" alt="" />
                    <p>e-Sports&nbsp;</p>
                    <p class="prox">Próximamente</p>
                    &nbsp;</article>
            </a>
        </main>
        <footer class="piedepagina">Todos los derechos reservados Arsene Lupin Book Marker's © 2023</footer>
    </div>
    <script>
        function abrirVentanaEmergente() {
            var ventanaWidth = 400; // Ancho de la ventana emergente
            var ventanaHeight = 300; // Altura de la ventana emergente
            var left = (screen.width - ventanaWidth) / 2; // Coordenada X para centrar la ventana
            var top = (screen.height - ventanaHeight) / 2; // Coordenada Y para centrar la ventana

            var ventanaEmergente = window.open("", "Ventana Emergente", "width=" + ventanaWidth + ",height=" + ventanaHeight + ",left=" + left + ",top=" + top);


            ventanaEmergente.document.write(`
    <html>
    <head>
      <title>Algo se está preparando</title>
    </head>
    <body>
      <h2>Esta función estará proximamente disponible</h2>
      <p>ArsenLupin.</p>
      <button onclick="window.close()">Aceptar</button>
    </body>
    </html>
  `);
        }
    </script>
</body>

</html>